@import url("https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@300&display=swap");

body {
  background-color: #212f53;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Quicksand", sans-serif;
}

#preloader {
  background: #212f53 url(./Loader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100vh;
  box-sizing: border-box;
}
#skill-section {
  padding: 5%;
  height: fit-content;
}

header {
  min-height: 100px;
  position: sticky;
  top: 0;
  background: rgb(221, 255, 0);
  z-index: 999;
}

.section-header {
  color: white;
  max-width: 50%;
  margin-bottom: 3rem;
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

.menu-container {
  display: grid;
  place-items: center;
}

.menu {
  width: 300px;
  max-width: 50%;
  color: white;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.menu-opt {
  min-height: 2.5rem;
  border: #b65656;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  grid-column: 1 / span 1;
  display: grid;
  place-items: center;
  margin: 0.5rem 0 0.5rem 0;

  &:hover {
    border-color: #a8b6d8;
    cursor: pointer;
  }
}

#exp-table {
  display: grid;
  grid-template-columns: 2fr 8fr;
  min-height: 300px;
  max-width: 950px;
  color: white;
}
.tabs {
  ul {
    list-style-type: none;
  }
}

.tablink-btn {
  background-color: transparent;
  width: 100%;
  border-width: 0 0 2px 0;
  margin: 0.5rem 0 0 0;
  padding-bottom: 2px;
  color: white;
  display: none;

  &:hover {
    border-color: #a8b6d8;
  }

  &.active {
    border-color: #a8b6d8;
  }
}

.tablink-btn-animation{
  animation: animate-tablink 1s ease;
  animation-delay: calc(var(--order)*100ms);
}

@keyframes animate-tablink {
  from{
    transform: translateX(-25%);
    opacity: 0;

  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.tab-content {
  border: solid;
  border-color: #b65656;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: none;

  padding: 1rem;
}
